<div class="container">
    <h1 class="website-name">TypeFlow</h1>
    <div class="typing-container">
      <h2 id="timer">60</h2>
      <p id="quote"></p>
      <input type="text" id="typingInput">
      <p id="result"></p>
      <div class="button-container">
        <button id="restartButton">
          <img src="assets/images/restart.png" alt="Restart Image">
        </button>
        <button id="nextButton">
          <img src="assets/images/next.png" alt="Next Image">
        </button>
      </div>
    </div>
    <!-- <div class="container">
        <div class="logo-container">
          <img src="assets/images/logo.png" alt="Logo Image">
        </div> -->
  
    <div class="more-options-container">
      <a class="more-options-link" routerLink="/code-practice">More Options</a>
    </div>
  
    <div class="user-profile">
      <a routerLink="/dashboard">
        <img src="assets/images/prof.png" alt="Profile Image">
      </a>
    </div>
  </div>
  